<h1>Listing urls</h1>

<table>
  <tr>
    <th>Url</th>
    <th>&nbsp</th>
    <th>Shortlink</th>
    <th></th>
    <th>Actions</th>
    <th></th>
  </tr>

<% @urls.each do |url| %>
  <tr>
    <td><%= url.url %></td>
    <td>&nbsp</td>
    <td><%= link_to short_url(url.shortlink), short_url(url.shortlink) %></td>
    <td><%= @visitors.count %></td>
    <td>&nbsp&nbsp|</td>
    <td><%= link_to 'Show', url %></td>
    <td><%= link_to 'Edit', edit_url_path(url) %></td>
    <td><%= link_to 'Destroy', url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Url', new_url_path %>
