<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @url.url %>
</p>

<p>
  <b>Shortlink:</b>
  <%= @url.shortlink %>
</p>


<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
